.profile-content {
  margin-left: 360px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -.5px;
}

mat-card {
  width: 40%;
  margin-top: 30px;
  margin-left: 150px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-left: 2%;
}

.close-button {
  margin-right: 2%;
}

.form-button {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.start-button {
  margin-top: 30px;
}
