.toolbar {
  font-family: "Lato", sans-serif;
  background-color: #2d303a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.title {
  margin-left: 2%;
  font-size: 35px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.items {
  display: flex;
}

.items li {
  cursor: pointer;
  font-size: 18px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0 4em .3em 0;
  outline: none;
  list-style-type: none;
  color: #ffffff;
}

.items li:hover {
  color: #666d89;
}

.spacer {
  flex: 1;
}
